<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <style>
        img{
            height:200px;
            width:200px;
        }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" >
</head>
<body>
    <a href="{% url 'myCart' %}"><h1>GOTO MY CART</h1></a> 
    <a href="{% url 'myOrder' %}">
        <h1>GOTO MY ORDERS</h1>
    </a>
    {% if products %}

    <div class="container">
        <div class="row row-cols-3">
    {% for product in products %}  
        <div class="col" >
            <h3>Name:{{product.product_name}}</h3>
            <img src="/media/{{product.product_image}}">
            <h3>Price: NRs {{product.product_price}}</h3>
            <button><a href="{% url 'productDetails' id=product.product_id %}">DETAILS</a></button>
        </div>
    
    {% endfor %}
        </div>
    </div>


    {% else %}
    <h1>No any data</h1>
    {% endif %}

    <hr>
    <br>
    <h3>Recent Reviews</h3>
    <div class="container">
        <div class="row row-cols-3">
    {% if recommended_result.error_msg == "false" %}
    {% for product in recommended_result.recent %}
    <div class="col">
    <h3>Name:{{product.1}}</h3>
    <img src="/media/{{product.2}}">
    <h3>Price: NRs {{product.5}}</h3>
    <button><a href="{% url 'productDetails' id=product.0 %}">DETAILS</a></button>
</div>
    {% endfor %}
    
    {% endif %}
        </div>
    </div>
    <hr>
    <br>
    <h3>Recommended Products</h3>
    <div class="container">
        <div class="row row-cols-3">
    {% if recommended_result.error_msg == "false" %}
        {% for product in recommended_result.recommended_products %}
        <div class="col">
        <h3>Name:{{product.1}}</h3>
        <img src="/media/{{product.2}}">
        <h3>Price: NRs {{product.5}}</h3>
        <button><a href="{% url 'productDetails' id=product.0 %}">DETAILS</a></button>
        </div>
        {% endfor %}
    {% endif %}   
    </div>
</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>