<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for key, value in product.items %}
        <h3>{{key}}: {{value}}</h3>
    {% endfor %}
    <img style="height:200px; width:200px;" src="{{MEDIA_URL}}{{product.product_image}}" alt="" srcset="">
    <a href="{% url 'addToCart' id=product.product_id%}">ADD TO CART {{product.product_id}}</a>
</body>
</html>