<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
    
        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
    
        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
    <table>
            <tr>
                <th>order id</th>
                <th>buyer id</th>
                <th>seller id</th>
                <th>quantity</th>
                <th>placed on</th>
                <th>status</th>
                <th>product id</th>
                <th>product name</th>
                <th>product image</th>
                <th>price per unit</th>
                <th>model</th>
                <th>ACTIONS</th>
            </tr>
    {% for order in orders%}
    <tr>
        <td>{{order.0}}</td>
        <td>{{order.1}}</td>
        <td>{{order.3}}</td>
        <td>{{order.4}}</td>
        <td>{{order.5}}</td>
        <td>{{order.6}}
        </td>
        <td>{{order.7}}</td>
        <td>{{order.8}}</td>
        <td><img src="../../media/{{order.9}}" alt="{{order.9}}" style="width: 100px; height:150px;"></td>
        <td>{{order.11}}</td>
        <td>{{order.12}}</td>
        <td><a href="{% url 'updateRequestStatus' orderId=order.0 sellerId=order.3 status=order.6 action='next'%}">NEXT</a>
        <a href="{% url 'updateRequestStatus' orderId=order.0 sellerId=order.3 status=order.6 action='previous'%}">PREVIOUS</a></td>
    </tr>
    {% endfor %}
    </table>
</body>
</html>