<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop360</title>
</head>
<body>
    <h1><a href="{% url 'pAdd' %}">Add a new product.</a></h1>
    <h1><a href="{% url 'orderRequests' %}">View Order Requests.</a></h1>
    <h1>Products List</h1>

    {% for item in list%}
        <h3>ID: {{item.product_id}}</h3>
        <h3>NAME: {{item.product_name}}</h3>
        <img style="height:200px; width:300px;" src="http://127.0.0.1:8000/media/{{item.product_image}}" alt="" srcset="">
        <h3>{{item.product_image}}</h3>
        <h3>DETAILS: {{item.product_details}}</h3>
        <h3>PRICE:{{item.product_rice}}</h3>
        <h3>MODEL:{{item.product_model}}</h3>
        <h3>CATEGORY:{{item.product_category}}</h3>
        <button><a href="{% url 'pUpdate' pk=item.product_id %}">EDIT</a></button>
        <hr>
    {% endfor %}
    
</body>
</html>